/* SearchBar.css */
.search-bar {
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2px;
  border-color: aqua;
  margin-bottom: 5px;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}
